@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Press Start 2P';
    src: url('/fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-press-play {
    font-family: 'Press Start 2P', cursive;
}

/* Adjusted Glow Animation */
@keyframes drop-glow {
  0%, 100% { 
    /* Subtle, darker purple */
    filter: drop-shadow(0 0 2px rgba(180, 0, 255, 0.5)) drop-shadow(0 0 4px rgba(220, 150, 255, 0.3)); 
  }
  50% { 
    /* Slightly brighter and wider purple */
    filter: drop-shadow(0 0 4px rgba(180, 0, 255, 0.7)) drop-shadow(0 0 6px rgba(220, 150, 255, 0.5)); 
  }
}

.speaker-glow img {
  /* Slower animation duration */
  animation: drop-glow 3s ease-in-out infinite;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}
